# flyctl launch added from .gitignore
**/debug_bin*
**/gen
**/node_modules

# flyctl launch added from library/.gitignore
# Logs
library/**/logs
library/**/*.log
library/**/npm-debug.log*
library/**/yarn-debug.log*
library/**/yarn-error.log*
library/**/pnpm-debug.log*
library/**/lerna-debug.log*

library/**/node_modules
library/**/dist
library/**/dist-ssr
library/**/*.local

# Editor directories and files
library/**/stats.html

# flyctl launch added from library/node_modules/.pnpm/tailwindcss@3.3.3/node_modules/tailwindcss/stubs/.gitignore
!library/node_modules/.pnpm/tailwindcss@3.3.3/node_modules/tailwindcss/stubs/**/*

# flyctl launch added from library/node_modules/.pnpm/vite-plugin-webfont-dl@3.7.6_vite@4.4.5/node_modules/vite-plugin-webfont-dl/dist/.gitignore
library/node_modules/.pnpm/vite-plugin-webfont-dl@3.7.6_vite@4.4.5/node_modules/vite-plugin-webfont-dl/dist/**/*
!library/node_modules/.pnpm/vite-plugin-webfont-dl@3.7.6_vite@4.4.5/node_modules/vite-plugin-webfont-dl/dist/**/.gitignore

# flyctl launch added from node_modules/.pnpm/tailwindcss@3.3.3/node_modules/tailwindcss/stubs/.gitignore
!node_modules/.pnpm/tailwindcss@3.3.3/node_modules/tailwindcss/stubs/**/*

# flyctl launch added from webui/assetgen/css/node_modules/.pnpm/tailwindcss@3.3.2/node_modules/tailwindcss/stubs/.gitignore
!webui/assetgen/css/node_modules/.pnpm/tailwindcss@3.3.2/node_modules/tailwindcss/stubs/**/*
fly.toml
