{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-organize-attributes"]
}
