package datastar

import "fmt"

templ ScriptCDNVersion(version string) {
	<script type="module" defer src={ fmt.Sprintf("https://cdn.jsdelivr.net/npm/@sudodevnull/datastar@%s/dist/datastar.min.js", version) }></script>
}

templ ScriptCDNLatest() {
	<script type="module" defer src="https://cdn.jsdelivr.net/npm/@sudodevnull/datastar"></script>
}
