package site

templ lazyLoadLoader() {
	<div id="lazy_load" data-on-load="$$get('/examples/lazy_load/graph')">
		<div class="flex justify-center gap-2 text-4xl">
			@icon("svg-spinners:blocks-wave")
			Loading...
		</div>
	</div>
}

templ lazyLoadGraph() {
	<img id="lazy_load" class="transition-opacity" src={ staticPath("images/examples/tokyo.png") }/>
}
