package site

import (
	"time"
	"fmt"
)

templ onLoadView(sessionKey string, sessionValues any) {
	<div id="replaceMe">
		Loaded at { time.Now().Format(time.RFC3339) }
		<div>Session name: { sessionKey }</div>
		<div>Session contents: { fmt.Sprintf("%+v",sessionValues) }</div>
	</div>
}
