package fragment

templ Essays() {
	<div id="main-container" class="container mx-auto">
		<div class="mt-24">
			<h1 class="text-3xl font-bold my-4">Essays</h1>
			<hr/>
			<p class="py-8">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel at laborum sit minima. Minus debitis cumque culpa consectetur nihil expedita tempora fugiat aliquam. Doloribus inventore asperiores nostrum saepe, similique adipisci!</p>
		</div>
	</div>
}
