package fragment

templ Guide() {
	<div id="main-container" class="container mx-auto">
		<div class="mt-24">
			<h1 class="text-3xl font-bold my-4">Guide</h1>
			<hr/>
			<p class="py-8">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa, unde reiciendis expedita est laudantium dignissimos perferendis, dolorum quisquam, placeat magni repellendus ipsa? Iure nobis dolorem vero officiis ut. Quod, nulla!</p>
		</div>
	</div>
}
