package fragment

templ Reference() {
	<div id="main-container" class="container mx-auto">
		<div class="mt-24">
			<h1 class="text-3xl font-bold my-4">Reference</h1>
			<hr/>
			<p class="py-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci harum veniam cumque nulla ab. Reiciendis blanditiis quas laboriosam nam eligendi porro mollitia corrupti aspernatur facilis! Aut ex earum harum molestias!</p>
		</div>
	</div>
}
