package fragment

templ Examples() {
	<div id="main-container" class="container mx-auto">
		<div class="mt-24">
			<h1 class="text-3xl font-bold my-4">Examples</h1>
			<hr/>
			<p class="py-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. In illo exercitationem at nihil placeat magni quidem culpa quaerat. Voluptatibus hic animi obcaecati, tenetur dolores laudantium incidunt error numquam iusto aperiam.</p>
		</div>
	</div>
}
