package fragment

templ Index() {
	<div id="main-container" class="container mx-auto">
		<div class="mt-24">
			<h1 class="text-3xl font-bold my-4">Main Page</h1>
			<hr/>
			<p class="py-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptates reprehenderit perspiciatis odit dolorem qui harum, error eligendi voluptatibus doloribus corrupti, quo quas magnam repellat expedita necessitatibus consequuntur, totam aperiam?</p>
		</div>
		<div class="text-center">
			<p>button below is going to redirect to guide page using sse push event - redirect will proceed with page reloading</p>
			<br/>
			<button class="px-8 py-4 border-2 rounded-xl hover:translate-y-[2px] transition duration-500" data-on-click="$$put('/api/redir')">redirect</button>
		</div>
	</div>
}
