package layout

templ Default(content templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<script type="module" defer src="/public/datastar.js"></script>
			<script src="https://cdn.tailwindcss.com"></script>
			<title>DataStar</title>
			<meta name="description" content="This is datastar test page, Bast framework for building web applications"/>
		</head>
		<body class="bg-gray-200 dark:bg-gray-900 text-gray-700 dark:text-white" data-store='{"_someData": "this is value from store", "_boolData": true, "_x": 31231}'>
			<div class="flex h-12 bg-gray-400 dark:bg-gray-700 dark:text-gray-100 text-gray-900 w-full drop-shadow-xl items-center justify-between px-12">
				<div class="flex justify-start">
					<a class="cursor-pointer" onclick="return false;" href="/">
						<button class="px-8 py-2" data-on-click="$$get('/api/index')">Main Page</button>
					</a>
				</div>
				<div class="flex justify-end items-center">
					<a class="cursor-pointer" onclick="return false;" href="/guide">
						<button class="px-8 py-2" data-on-click="$$get('/api/guide')">GUIDE</button>
					</a>
					<a class="cursor-pointer" onclick="return false;" href="/reference">
						<button class="px-8 py-2" data-on-click="$$get('/api/reference')">REFERENCE</button>
					</a>
					<a class="cursor-pointer" onclick="return false;" href="/examples">
						<button class="px-8 py-2" data-on-click="$$get('/api/examples')">EXAMPLES</button>
					</a>
					<a class="cursor-pointer" onclick="return false;" href="/essays">
						<button class="px-8 py-2" data-on-click="$$get('/api/essays')">ESSAYS</button>
					</a>
				</div>
			</div>
			<div id="main-container" class="container mx-auto">
				@content
			</div>
		</body>
	</html>
}
