# Do not export those files in the Composer archive (lighter dependency)
/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/ecs.php export-ignore
/phpstan.neon export-ignore
/tests/ export-ignore
/SUBTREE.md export-ignore

# Auto detect text files and perform LF normalization
* text=auto
