package site

templ PageHome() {
	@Page("Datastar", "Datastar is hypermedia framework.", "/") {
		<div class="p-400">
			<div class="bg-primary text-primary-content">
				Foo
			</div>
			<h1 class="font-brand">Home</h1>
			<sp-button onclick="alert('I was clicked');">Click me!</sp-button>
		</div>
	}
}
