package site

import "time"

templ indicatorEmpty() {
	<div id="greeting">No data yet, please wait</div>
}

templ indicatorGreeting() {
	<div id="greeting">Hello, the time is { time.Now().Format(time.RFC3339) }</div>
}
