package site

type ShowSignals struct {
	BindBool bool `json:"bindBool"`
}

templ ToggleVisibilityView(signals *ShowSignals) {
	<div
		id="container"
		class="flex flex-col gap-4"
		data-signals={ templ.JSONString(signals) }
	>
		<button
			class="btn btn-primary"
			data-on-click="$bindBool=!$bindBool"
		>
			Toggle
		</button>
		<div data-show="$bindBool">
			Hello!
		</div>
	</div>
}
