package site

type RedirectsStore struct {
	RedirectTo string `json:"redirectTo"`
}

templ redirectsView(store *RedirectsStore) {
	<div id="demo" class="flex w-full gap-4" data-store={ templ.JSONString(store) }>
		<label class="flex items-center flex-1 gap-2">
			<span>Redirect to: </span>
			<input data-model="redirectTo" class="flex-1 input input-bordered"/>
		</label>
		<button class="btn btn-success" data-on-click="@post('/examples/redirects/data')">Redirect</button>
	</div>
}
